<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <title>Vue.js</title>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <div id="app">
      <div v-cloak>
        <div>
          What is the input string?
          <input type="text" v-model="input" />
          <div v-if="inputlen != 0">{{ input }} has {{ inputlen }} character<span v-if="inputlen != 1">s</span>.</div>
          <div v-else>0 character.</div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>

</html>
